@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-success: var(--success);
  --color-warning: var(--warning);

  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
}

:root {
  --background: #0a0d14;
  --foreground: #F8FAFC;
  --card: #121620;
  --card-foreground: #F8FAFC;
  --popover: #121620;
  --popover-foreground: #F8FAFC;
  --primary: #f5b914;
  --primary-foreground: #0a0d14;
  --secondary: #1c212f;
  --secondary-foreground: #F8FAFC;
  --muted: #1c212f;
  --muted-foreground: #94A3B8;
  --accent: #f5b914;
  --accent-foreground: #0a0d14;
  --destructive: #EF4444;
  --destructive-foreground: #F8FAFC;
  --border: #1e2433;
  --input: #1e2433;
  --ring: #f5b914;
  --radius: 1.25rem;
  
  --success: #22C55E;
  --warning: #F59E0B;
}

.dark {
  --background: #0a0d14;
  --foreground: #F8FAFC;
  --card: #121620;
  --card-foreground: #F8FAFC;
  --popover: #121620;
  --popover-foreground: #F8FAFC;
  --primary: #f5b914;
  --primary-foreground: #0a0d14;
  --secondary: #1c212f;
  --secondary-foreground: #F8FAFC;
  --muted: #1c212f;
  --muted-foreground: #94A3B8;
  --accent: #f5b914;
  --accent-foreground: #0a0d14;
  --destructive: #EF4444;
  --destructive-foreground: #F8FAFC;
  --border: #1e2433;
  --input: #1e2433;
  --ring: #f5b914;
  
  --success: #22C55E;
  --warning: #F59E0B;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}